@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.post-img {
  width: 100%;
  // NOTE to make your own 'img-fluid' class.... you need 100% width and whatever desired height
  height: 35vh;
  // object-fit: cover;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.plus-btn {
  border: 2px solid black;
  box-shadow: 2px 2px black;
}